VITE_SUPABASE_URL=https://oetdijrgepkvzjxmypvc.supabase.co  
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ldGRpanJnZXBrdnpqeG15cHZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0OTA3NjIsImV4cCI6MjA5NzA2Njc2Mn0.BOWOlUccwTgssaIVdORBM6C9Qdt7nTC8kO_0PQkQP_k
